In [1]:
import pandas as pd
import csv
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
import joblib
from src.util import *

C:\Users\Samue\Anaconda3\envs\DS-U4-S1-NLP\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [4]:
submission_table = pd.read_csv('top_submission_info.csv')
submission_table.head()

,Unnamed: 0,nsfw,score,subreddit_name,text,title
0,0,False,221861,AskReddit,NaN,"People who haven't pooped in 2019 yet, why are..."
1,1,False,175333,AskReddit,As many of you know today is day that many of ...,Stan Lee has passed away at 95 years old
2,2,False,160314,AskReddit,NaN,"Reddit, how would you feel about a law that ba..."
3,3,False,144660,AskReddit,,"Without saying what the category is, what are ..."
4,4,False,140953,AskReddit,NaN,"Anthony Bourdain once said ""There's a guy in m..."

In [5]:
submission_table = submission_table.drop(columns='Unnamed: 0')

In [7]:
submission_table.head()

,nsfw,score,subreddit_name,text,title
0,False,221861,AskReddit,NaN,"People who haven't pooped in 2019 yet, why are..."
1,False,175333,AskReddit,As many of you know today is day that many of ...,Stan Lee has passed away at 95 years old
2,False,160314,AskReddit,NaN,"Reddit, how would you feel about a law that ba..."
3,False,144660,AskReddit,,"Without saying what the category is, what are ..."
4,False,140953,AskReddit,NaN,"Anthony Bourdain once said ""There's a guy in m..."

In [8]:
def tokenize(doc):
    return [token for token in simple_preprocess(doc) if token not in STOPWORDS]

In [36]:
tfidf = TfidfVectorizer(tokenizer=tokenize, min_df=0.1, max_df=0.9, ngram_range=(1, 2))

,aaron,aaron glantz,abbreviation,abbreviation judgment,able,able moderate,able stand,abridged,abridged sake,abused,...,ze,ze assholes,zero,zero tolerance,zeu,zeu png,zf,zf rou,ztbbza,ztbbza news
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.027735,0.0,0.032625,0.032625,0.032625,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.030674,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.028188,0.028188,0.033159,0.033159,0.0,0.0,0.0,0.0

In [ ]:
joblib.dump(tfidf, 'tfvect.joblib')

In [ ]:
sparse = tfidf.fit_transform(reddit_data['subreddit_description'])
dtm = pd.DataFrame(sparse.todense(), columns=tfidf.get_feature_names())
dtm.head()

In [37]:
nn = NearestNeighbors(n_neighbors=10, algorithm='brute')

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=None, n_neighbors=10, p=2, radius=1.0)

In [ ]:
joblib.dump(nn, 'nn.joblib')

In [ ]:
nn.fit(dtm)

In [38]:
query = ["""PC's are the superior console."""]

In [39]:
looking = tfidf.transform(query)
nn.kneighbors(looking.todense())

(array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]]),
 array([[4, 2, 9, 7, 0, 1, 3, 5, 6, 8]], dtype=int64))

In [41]:
for i in nn.kneighbors(looking.todense())[1]:
    print(submission_table['subreddit_name'][i])

'AmItheAsshole'